.landing-nav {
    border-bottom: 1px solid black;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.landing-nav .logo {
    text-align: left;
}

.landing-nav img {
    width: 10%;
    padding: 10px;
    align-items: first baseline;
}